@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode Colors */
:root {
    --background: #F5F5F5;
    --foreground: #121212; 
    --border: #013D5A;
    --button: #5B7953;
    --accent: #FFFFFF;
    --buttonHighlight: #BDD3CE;
    --boxShadow:rgba(0, 0, 0, 0.2);

}
  /* Dark Mode */
:root.dark {
    --background: #292929;
    --foreground: #FFFFFF;
    --border: #1d1d1de4;
    --accent: #1a1a1a;
    --button: #5B7953;
    --buttonHighlight: #BDD3CE;
    --boxShadow:rgba(0, 0, 0, 0.2);
    
    
}

body {
    background-color: var(--background);
    color: var(--foreground);
}