@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode Colors */
:root {
    --background: #F5F5F5;
    --foreground: #121212; 
    --border: #013D5A;
    --button: #5B7953;
    --accent: #FFFFFF;
    --surface: #FFFFFF;
    --surfaceSecondary: #F5F5F5;
    --surfaceHighlight: #F0F0F0;
    --textSecondary: #616161;
    --buttonHighlight: #BDD3CE;
    --boxShadow:rgba(0, 0, 0, 0.2);

}
  /* Dark Mode */
:root.dark {
    --background: #121212;
    --foreground: #ededed;
    --border: #181818;
    --accent: #1E1E1E;
    --surface: #1E1E1E;
    --surfaceSecondary: #1a1a1a;
    --surfaceHighlight: #2A2A3A;
    --button: #5B7953;
    --textSecondary: #A3A3A3;
    --buttonHighlight: #BDD3CE;
    --boxShadow:rgba(0, 0, 0, 0.2);
    
}

body {
    background-color: var(--background);
    color: var(--foreground);
}


